#arc-slider {
    height: 270px !important;
    width: 60px !important;
    /* border: 1px dashed; */
    overflow: hidden;
    padding: 15px;
    /* transform: rotate(270deg); */
    /* -moz-transform: rotate(270deg); */
    position:absolute;
    top:22vh;
    left:140px;
}

#arc-slider .rs-container {
    margin-left: 18px;
    /* margin-top: 66px; here 300 is the radius value */
    /* left: 50%; */
}
#arc-slider .rs-tooltip {
    top: 60px;
}
#arc-slider .rs-tooltip-text {
    font-size: 25px;
}
/* #arc-slider .rs-border{
    border-width: 0px;
} */

/* Appearance related changes */
.rs-control .rs-range-color {
    background-color: #0274ff;
}
.rs-control .rs-path-color {
    background-color: #efefef;
}
.rs-control .rs-handle {
    background-color: #0274ff;
}

#arc-slidertwo {
    height: 270px !important;
    width: 40px !important;
    /* border: 1px dashed; */
    /* overflow: hidden; */
    /* padding: 15px; */
    /* transform: rotate(270deg); */
    /* -moz-transform: rotate(270deg); */
    position:absolute;
    top:24vh;
    left:280px;
    
}
#arc-slidertwo .rs-container {
    margin-left: -300px;
    /* margin-top: -230px; here 300 is the radius value */
    /* left: 50%; */
    
}
/* #arc-slidertwo .rs-tooltip {
    top:250px;
} */
/* #arc-slidertwo .rs-tooltip-text {
    font-size: 25px;
} */
/* #arc-slidertwo .rs-border{
    border-width: 0px;
} */

/* Appearance related changes */
/* .rs-control .rs-range-color {
    background-color: #0274ff;
}
.rs-control .rs-path-color {
    background-color: #e5e5e5;
}
.rs-control .rs-handle {
    background-color: #0274ff;
} */


#slidertwo{
    height: 0px !important;
    width: 20px !important;
    position:absolute;
    top:-16vh;
    left:-90px;
}
#slidertwo .rs-container {
    margin-left: 150px;
    margin-top: 170px;
    /* margin-top: -230px; here 300 is the radius value */
    /* left: 50%; */
    
}

#sliderthree{
    height: 70px !important;
    width: 20px !important;
    position:absolute;
    top:7vh;
    left:0px;
}
#sliderthree .rs-container {
    margin-left: 0px;
    /* margin-top: -230px; here 300 is the radius value */
    /* left: 50%; */
    
}
/* #slidertwo .rs-range-color {
    background-color: #0274ff;
}
#slidertwo .rs-border{
    border-width: 0px;
}
#slidertwo .rs-path-color {
    background-color: #e5e5e5;
}
#slidertwo .rs-handle {
    background-color: #0274ff;
} */
/* #slidertwo .rs-bg-color {
    background-color: #e5e5e5;
} */


#vranger {
  height: 200px;
  width: 100px;
  position:absolute;
  top:20vh;
  left:20vw;
  /* margin-left: 46vw;
  margin-top: 32vh; */
   /* transform: rotate(270deg);
  -moz-transform: rotate(270deg);  */
} 
.vrangertwo {
  height: 200px;
  width: 100px;
  position:absolute;
  top:20vh;
  left:50vw;
  /* margin-left: 47vw;
  margin-top: -60vh; */
   transform: rotate(270deg);
  -moz-transform: rotate(270deg); 
} 

#img{
    position:absolute;
    left:35vw;
}




/* //working well */

/* body {
    -moz-transform: scale(0.8, 0.8);
    zoom: 0.8;
    zoom: 57%;
  }
  #imgtwo{
    position: relative;
    left: 7.8rem;
    top:-17rem;
  pointer-events: none;
  }
  #img{
    position: relative;
     left: 7.8rem;
     /* top: 2.2rem; */
    /* top:0.8vh; */
    pointer-events: none;
    }
  
  #imgthree{
    position: relative;
    top:-5rem;
     left: -10.1rem;
     pointer-events: none;
  }
  #bottom-two{
    position: relative;
    top:10.8rem;
     left: -8.9rem;
     pointer-events: none;
  }
  #top-three{
    position: relative;
    top:6.8rem;
     left: -28.9rem;
     pointer-events: none;
  }
  #bottom-three{
    position: relative;
    top:22.3rem;
     left: -24.9rem;
     pointer-events: none;
  }
  #top-four{
    position: relative;
    top:17.7rem;
     left: -46.88rem;
     pointer-events: none;
  }
  #bottom-four{
    position: relative;
    top:34.2rem;
     left: -41.7rem;
     pointer-events: none;
  }
  
    .piano-keys-container {
      /* text-align: center; */
  
      position: relative;
     left: 9.9rem;
     top: -15rem;
    }
  
  
    .vranger {
      /* display: block; */
      /* height: 200px; */
      width: 260px;
      position:absolute;
      top:0rem;
      left:-1.5rem;
       transform: rotateZ(2.5deg);
      /* -moz-transform: rotate(270deg); do same for other browsers if required */
    }
    
    .vrangertwo {
      /* display: block; */
      width: 160px;
      position:absolute;
      top:2.8rem;
      left:-0.2rem;
      /* margin-right: 1.2rem; */
       transform: rotateZ(-10.5deg);
      /* -moz-transform: rotate(270deg); do same for other browsers if required */
    }
    .vrangerthree {
      /* display: block; */
      width: 150px;
      position:absolute;
      top:8.7rem;
      left:-0.5rem;
      /* margin-right: 1.2rem; */
       transform: rotateZ(15.5deg);
      /* -moz-transform: rotate(270deg); do same for other browsers if required */
    }
    .vrangerfour {
      /* display: block; */
      width: 220px;
      position:absolute;
      top:11.3rem;
      left:-0.8rem;
      /* margin-right: 1.2rem; */
       transform: rotateZ(5deg);
      /* -moz-transform: rotate(270deg); do same for other browsers if required */
    }
  
    .vrangerfive {
      /* display: block; */
      width: 240px;
      position:absolute;
      top:13.5rem;
      left:-1rem;
      /* margin-right: 1.2rem; */
       transform: rotateZ(-2deg);
      /* -moz-transform: rotate(270deg); do same for other browsers if required */
    }
    .vrangersix {
      /* display: block; */
      width: 200px;
      position:absolute;
      top:15.7rem;
      left:2rem;
      /* margin-right: 1.2rem; */
       transform: rotateZ(-13deg);
      /* -moz-transform: rotate(270deg); do same for other browsers if required */
    }
    .vrangerseven {
      /* display: block; */
      width: 130px;
      position:absolute;
      top:21.7rem;
      left:2rem;
      /* margin-right: 1.2rem; */
       transform: rotateZ(2deg);
      /* -moz-transform: rotate(270deg); do same for other browsers if required */
    }
    .vrangereight {
      /* display: block; */
      width: 200px;
      position:absolute;
      top:23.9rem;
      left:-1rem;
      /* margin-right: 1.2rem; */
       transform: rotateZ(-2deg);
      /* -moz-transform: rotate(270deg); do same for other browsers if required */
    }
    .vrangernine {
      /* display: block; */
      width: 200px;
      position:absolute;
      top:26.2rem;
      left:-0.8rem;
      /* margin-right: 1.2rem; */
       transform: rotateZ(-2.5deg);
      /* -moz-transform: rotate(270deg); do same for other browsers if required */
    }
  
    .vrangerten {
      /* display: block; */
      width: 150px;
      position:absolute;
      top:32.2rem;
      left:-0.5rem;
      /* margin-right: 1.2rem; */
       transform: rotateZ(15.5deg);
      /* -moz-transform: rotate(270deg); do same for other browsers if required */
    }
    .vrangereleven {
      /* display: block; */
      width: 220px;
      position:absolute;
      top:35rem;
      left:-2.3rem;
      /* margin-right: 1.2rem; */
       transform: rotateZ(5deg);
      /* -moz-transform: rotate(270deg); do same for other browsers if required */
    }
  
    .vrangertwelve {
      /* display: block; */
      width: 240px;
      position:absolute;
      top:37rem;
      left:-3rem;
      /* margin-right: 1.2rem; */
       transform: rotateZ(-2deg);
      /* -moz-transform: rotate(270deg); do same for other browsers if required */
    }
    .vrangerthirteen {
      /* display: block; */
      width: 200px;
      position:absolute;
      top:38.9rem;
      left:-1rem;
      /* margin-right: 1.2rem; */
       transform: rotateZ(-13deg);
      /* -moz-transform: rotate(270deg); do same for other browsers if required */
    } */