body {
  -moz-transform: scale(0.8, 0.8);
  zoom: 0.8;
  zoom: 57%;
}





.piano-container{
  position: relative;
  top:0rem;
}

/* //bottom */
#img{
  position:absolute;
   left: 125.4px;
   top: 5.3px;
  /* top:0.8vh; */
  pointer-events: none;
  }


  #bottom-two{
    position:absolute;
    top:226.5px;
    left: 130.4px;
     pointer-events: none;
  }

  #bottom-three{
    position:absolute;
    top:410.7px;
     left: 120.45px;
     pointer-events: none;
  }

  #bottom-four{
    position:absolute;
    top:620px;
     left: 110px;
     pointer-events: none;
  }
  #bottom-five{
    position:absolute;
    top:774px;
     left: 90px;
     pointer-events: none;
  }
  #bottom-six{
    position:absolute;
    top:1004px;
     left: 90px;
     pointer-events: none;
  }
  #bottom-seven{
    position:absolute;
    top:1153px;
     left: 70px;
     pointer-events: none;
  }
  #bottom-eight{
    position:absolute;
    top:1380px;
     left: 70px;
     pointer-events: none;
  }
  #bottom-nine{
    position:absolute;
    top:1526px;
     left: 48px;
     pointer-events: none;
  }
  #bottom-ten{
    position:absolute;
    top:1746px;
     left: 48px;
     pointer-events: none;
  }
  
  /* //top */
  /* .top{
    position: relative;
    top:-2px;
    left:-4.9px;
  } */
  #imgtwo{
    position:absolute;
    left: 133.3px;
    /* top:-17rem; */
  pointer-events: none;
  }
  
  
  #imgthree{
    position:absolute;
    top:245.4px;
     left: 128px;
     pointer-events: none;
  }
  
  #top-three{
    position:absolute;
    top:397px;
     left: 109px;
     pointer-events: none;
  }
  
  #top-four{
    position:absolute;
    top:610px;
     left: 98px;
     pointer-events: none;
  }

  #top-five{
    position:absolute;
    top:787px;
     left: 85px;
     pointer-events: none;
  }

  #top-six{
    position:absolute;
    top:970px;
     left: 68px;
     pointer-events: none;
  }
  #top-seven{
    position:absolute;
    top:1173px;
     left: 68px;
     pointer-events: none;
  }
  
  #top-eight{
    position:absolute;
    top:1349px;
     left: 48px;
     pointer-events: none;
  }
  #top-nine{
    position:absolute;
    top:1549px;
     left: 48px;
     pointer-events: none;
  }
  #top-ten{
    position:absolute;
    top:1719px;
     left: 27px;
     pointer-events: none;
  }
  
  
  
  .piano-keys-container {
    /* text-align: center; */

    position: relative;
   left:154px;
   top: 30px;
  }

  

  .vranger {
    /* display: block; */
    /* height: 200px; */
    width: 260px;
    position:absolute;
    top:0px;
    left:-25.5px;
     transform: rotateZ(2.5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  
  .vrangertwo {
    /* display: block; */
    width: 160px;
    position:absolute;
    top:42.8px;
    left:-0.2rem;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-10.5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vrangerthree {
    /* display: block; */
    width: 150px;
    position:absolute;
    top:138.7px;
    left:-0.5rem;
    /* margin-right: 1.2rem; */
     transform: rotateZ(15.5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vrangerfour {
    /* display: block; */
    width: 220px;
    position:absolute;
    top:180px;
    left:-0.8rem;
    /* margin-right: 1.2rem; */
     transform: rotateZ(5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }

  .vrangerfive {
    /* display: block; */
    width: 240px;
    position:absolute;
    top:218px;
    left:-1rem;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-2deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vrangersix {
    /* display: block; */
    width: 200px;
    position:absolute;
    top:250px;
    left:30px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-13deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vrangerseven {
    /* display: block; */
    width: 130px;
    position:absolute;
    top:342px;
    left:2rem;
    /* margin-right: 1.2rem; */
     transform: rotateZ(2deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vrangereight {
    /* display: block; */
    width: 200px;
    position:absolute;
    top:380px;
    left:-1rem;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-2deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vrangernine {
    /* display: block; */
    width: 200px;
    position:absolute;
    top:418px;
    left:-0.8rem;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-2.5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }

  .vrangerten {
    /* display: block; */
    width: 150px;
    position:absolute;
    top:515px;
    left:-0.5rem;
    /* margin-right: 1.2rem; */
     transform: rotateZ(15.5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vrangereleven {
    /* display: block; */
    width: 220px;
    position:absolute;
    top:560px;
    left:-30.3px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }

  .vrangertwelve {
    /* display: block; */
    width: 240px;
    position:absolute;
    top:595px;
    left:-38px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-2deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vrangerthirteen {
    /* display: block; */
    width: 200px;
    position:absolute;
    top:620px;
    left:-1rem;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-13deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }


  .vrangerfourteen {
    /* display: block; */
    width: 130px;
    position:absolute;
    top:720px;
    left:-12px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(2deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vrangerfifteen {
    /* display: block; */
    width: 220px;
    position:absolute;
    top:760px;
    left:-60px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-2deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vrangersixteen {
    /* display: block; */
    width: 200px;
    position:absolute;
    top:800px;
    left:-32px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-2.5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }


  .vrangerseventeen {
    /* display: block; */
    width: 150px;
    position:absolute;
    top:895px;
    left:-0.5rem;
    /* margin-right: 1.2rem; */
     transform: rotateZ(15.5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vrangereightteen {
    /* display: block; */
    width: 220px;
    position:absolute;
    top:930px;
    left:-50.3px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }

  .vrangernineteen {
    /* display: block; */
    width: 240px;
    position:absolute;
    top:964px;
    left:-65px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-2deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vrangertwenty {
    /* display: block; */
    width: 200px;
    position:absolute;
    top:994px;
    left:-45px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-13deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }

  .vranger21 {
    /* display: block; */
    width: 130px;
    position:absolute;
    top:1084px;
    left:-40px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(2deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vranger22 {
    /* display: block; */
    width: 220px;
    position:absolute;
    top:1120px;
    left:-94px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-2deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vranger235 {
    /* display: block; */
    width: 250px;
    position:absolute;
    top:1150px;
    left:-92px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-2.5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vranger23 {
    /* display: block; */
    width: 200px;
    position:absolute;
    top:1188px;
    left:-42px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-2.5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }


  .vranger24 {
    /* display: block; */
    width: 150px;
    position:absolute;
    top:1278px;
    left:-20px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(15.5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vranger25{
    /* display: block; */
    width: 220px;
    position:absolute;
    top:1310px;
    left:-70.3px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }

  .vranger26{
    /* display: block; */
    width: 240px;
    position:absolute;
    top:1342px;
    left:-85px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-2deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vranger27 {
    /* display: block; */
    width: 200px;
    position:absolute;
    top:1368px;
    left:-65px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-13deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }

  .vranger28 {
    /* display: block; */
    width: 130px;
    position:absolute;
    top:1464px;
    left:-60px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(2deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vranger29 {
    /* display: block; */
    width: 220px;
    position:absolute;
    top:1500px;
    left:-104px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-2deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vranger30 {
    /* display: block; */
    width: 250px;
    position:absolute;
    top:1530px;
    left:-110px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-2.5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vranger31 {
    /* display: block; */
    width: 200px;
    position:absolute;
    top:1560px;
    left:-50px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-2.5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }


  .vranger32 {
    /* display: block; */
    width: 150px;
    position:absolute;
    top:1655px;
    left:-30px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(15.5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vranger33{
    /* display: block; */
    width: 220px;
    position:absolute;
    top:1683px;
    left:-90.3px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }

  .vranger34{
    /* display: block; */
    width: 240px;
    position:absolute;
    top:1713px;
    left:-105px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-2deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vranger35 {
    /* display: block; */
    width: 200px;
    position:absolute;
    top:1736px;
    left:-90px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-13deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vranger36 {
    /* display: block; */
    width: 140px;
    position:absolute;
    top:1836px;
    left:-120px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-13deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vranger37 {
    /* display: block; */
    width: 200px;
    position:absolute;
    top:1866px;
    left:-130px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-13deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vranger38 {
    /* display: block; */
    width: 210px;
    position:absolute;
    top:1906px;
    left:-110px;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-13deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }

  /* .item {
    position: sticky;
  } */

  /* .container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    border: 2px dashed rgba(114, 186, 94, 0.35);
    height: 400px;
    background: rgba(114, 186, 94, 0.05);
  }
  
  .item {
    position: sticky;
  } */

  #creature{
    position:absolute;
    top:50vh;
    left:50vw;
  }

  #eye-one{
    position:absolute;
    top:50vh;
    left:50vw;
  }

  #eye-two{
    position:absolute;
    top:50vh;
    left:50vw;
  }


