/* * {
  cursor: none;
  } */

  .demo {
    display: none;
   
  

 }
 #demo{
  text-align: center;
  position:absolute;
  top:30vh;
  left:40vw;
  color: white;
  font-size: 100;
 }
/* body{
  background-color:black;
  margin:0;
}

.box{
  width:40px;
  height:40px;
  background-color: aqua;
  margin:10px;
}

@keyframes spin{
  from{
transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}
.box-1{
  animation-name:spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes shrink{
  0%{
    width:40px;
    height:40px;
  }
  50%{
    width:10px;
    height:10px;
  }
  100%{
    width:40px;
    height:40px;
  }
}

.box-2{
  animation-name:shrink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes leftright {
  0%{
    transform:translateX(0px);
  }
  10%{
    transform:translateX(10px);
  }
  30%{
    transform:translateX(300px);
  }
  32%{
    transform:translateX(230px) rotate(0deg);
    transform:rotate(0deg);
  }
  72%{
    transform:translateX(600px)rotate(360deg);
    transform:rotate(360deg);
  }
  75%{
    transform:translateX(40px);
  }
}

.box-3{
  animation-name:leftright;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
} */