body {
  -moz-transform: scale(0.8, 0.8);
  zoom: 0.8;
  zoom: 57%;
}



.piano-container{
  position: relative;
  top:0rem;
}

/* //bottom */
#img{
  position:absolute;
   left: 125.4px;
   top: 5.3px;
  /* top:0.8vh; */
  pointer-events: none;
  }


  #bottom-two{
    position:absolute;
    top:226.5px;
    left: 130.4px;
     pointer-events: none;
  }

  #bottom-three{
    position:absolute;
    top:410.7px;
     left: 120.45px;
     pointer-events: none;
  }

  #bottom-four{
    position:absolute;
    top:620px;
     left: 110px;
     pointer-events: none;
  }

  
  /* //top */
  /* .top{
    position: relative;
    top:-2px;
    left:-4.9px;
  } */
  #imgtwo{
    position:absolute;
    left: 133.3px;
    /* top:-17rem; */
  pointer-events: none;
  }
  
  
  #imgthree{
    position:absolute;
    top:245.4px;
     left: 128px;
     pointer-events: none;
  }
  
  #top-three{
    position:absolute;
    top:397px;
     left: 109px;
     pointer-events: none;
  }
  
  #top-four{
    position:absolute;
    top:610px;
     left: 98px;
     pointer-events: none;
  }

  
  
  
  
  
  .piano-keys-container {
    /* text-align: center; */

    position: relative;
   left:154px;
   top: 30px;
  }

  

  .vranger {
    /* display: block; */
    /* height: 200px; */
    width: 260px;
    position:absolute;
    top:0px;
    left:-1.5rem;
     transform: rotateZ(2.5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  
  .vrangertwo {
    /* display: block; */
    width: 160px;
    position:absolute;
    top:42.8px;
    left:-0.2rem;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-10.5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vrangerthree {
    /* display: block; */
    width: 150px;
    position:absolute;
    top:138.7px;
    left:-0.5rem;
    /* margin-right: 1.2rem; */
     transform: rotateZ(15.5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vrangerfour {
    /* display: block; */
    width: 220px;
    position:absolute;
    top:180px;
    left:-0.8rem;
    /* margin-right: 1.2rem; */
     transform: rotateZ(5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }

  .vrangerfive {
    /* display: block; */
    width: 240px;
    position:absolute;
    top:218px;
    left:-1rem;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-2deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vrangersix {
    /* display: block; */
    width: 200px;
    position:absolute;
    top:250px;
    left:2rem;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-13deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vrangerseven {
    /* display: block; */
    width: 130px;
    position:absolute;
    top:342px;
    left:2rem;
    /* margin-right: 1.2rem; */
     transform: rotateZ(2deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vrangereight {
    /* display: block; */
    width: 200px;
    position:absolute;
    top:380px;
    left:-1rem;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-2deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vrangernine {
    /* display: block; */
    width: 200px;
    position:absolute;
    top:418px;
    left:-0.8rem;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-2.5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }

  .vrangerten {
    /* display: block; */
    width: 150px;
    position:absolute;
    top:515px;
    left:-0.5rem;
    /* margin-right: 1.2rem; */
     transform: rotateZ(15.5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vrangereleven {
    /* display: block; */
    width: 220px;
    position:absolute;
    top:560px;
    left:-2.3rem;
    /* margin-right: 1.2rem; */
     transform: rotateZ(5deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }

  .vrangertwelve {
    /* display: block; */
    width: 240px;
    position:absolute;
    top:595px;
    left:-3rem;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-2deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }
  .vrangerthirteen {
    /* display: block; */
    width: 200px;
    position:absolute;
    top:620px;
    left:-1rem;
    /* margin-right: 1.2rem; */
     transform: rotateZ(-13deg);
    /* -moz-transform: rotate(270deg); do same for other browsers if required */
  }